<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'aspen.css' %}">

<body>
    <div class="top-nav">
        <div class="main-title">Asurion Team Registry</div>
    </div>

    <div class="search-container">
        <div class="search">
            <form class="search-bar" method="GET" action="">
                <input class="search-term" type="search" placeholder="Search for a team..." name="search">
                <button type="submit" class="searchButton"> Search</button>
            </form>
        </div>
    </div>

    <div class="sort-text"><a>Sort A-Z</a> </div>
    {% for i in team_list %}
    <div class="card">
        <div class="container">
            <h2>{{i.name}}</h2>
            <div class="row">
                <div class="team-info-title">Mission Statement:</div>
                <div class="mission-statement">{{i.mission_statement}}</div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="team-info-title">Quick Links:</div>
                    <div class="row">
                        {% for name, url in i.repositories_owned.items %}
                            <a href={{url}} class="aui-button">{{name}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="column">
                    <div class="team-info-title">Contact:</div>
                    <p>Product Manager: {{i.product_lead}}</p>
                    <p>Tech Lead: {{i.tech_lead}}</p>
                    <p>Designer: {{i.design_lead}}</p>
                </div>
            </div>
            <div class="row">
                <div class="team-info-title">
                    Updates:
                </div>
                <div class="updates">
                    {{i.updates}}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <body>

</html>